.footer-links {
  z-index: 9998;
  position: fixed;
  bottom: 0;
  left: 1%;
  color: white;
  background: #111;
  padding: 1em 0;
  width: 100%;

  @media (max-width: 700px) {
    font-size: 10px;
  }

  span {
    margin: 0 1em;
  }

  a {
    text-decoration: none;
    color: white;
    border-bottom: 0px solid red;
    // transition: all 0.2s ease-in-out;

    &:hover {
      border-bottom: 3px solid red;
    }
  }
}
