@import "../../../styles/config/config.scss";

.slide--2 {
  .slide__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide__content {
    @include media-query($large-up) {
      left: -10%;
      top: 5%;
    }

    .slide__relative--container {
      position: relative;
      display: grid;
      grid-template-columns: 0.5fr 1.5fr;
      column-gap: 10px;
      grid-template-rows: 1fr;
      max-width: 85%;
      margin: 0 auto;
      padding-left: 0;
      height: auto;
      // padding-top: 200px;
      padding-bottom: 100px;

      @include media-query($small) {
        display: flex;
      }

      .slide__title--container {
        // justify-self: end;
        // align-self: end;
        height: 100%;
        width: 100%;
        position: relative;

        @include media-query($small) {
          align-self: start;
        }

        @include media-query($large-down) {
          justify-self: center;
        }

        @include media-query($large-up) {
          // width: 100%;
          position: relative;
        }
      }

      h1 {
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 0;
        right: 0;
        height: 100%;
        width: 100%;

        @include media-query($small) {
          font-size: 4.5vw;
          text-align: left;
          position: relative;
        }

        @include media-query($medium-up) {
          font-size: 5vw;
          transform: rotate(180deg) translate(-4px);
          writing-mode: vertical-lr;
        }

        @include media-query($large-up) {
          font-size: 3vw;
        }

        @include media-query($widescreen) {
          font-size: 2.2vw;
        }
      }

      .de_title,
      .en_title {
        @include media-query($medium-up) {
          font-size: 3.85vw;
        }

        @include media-query($large-up) {
          font-size: 2vw;
        }

        @include media-query($widescreen) {
          font-size: 1.85vw;
        }
      }
    }
    .slide__text {
      position: relative;
      white-space: normal;

      @include media-query($small) {
        font-size: $fs-small-p;
      }

      @include media-query($medium-up) {
        font-size: $fs-medium-p;
      }

      @include media-query($large-up) {
        font-size: $fs-large-p;
      }

      @include media-query($widescreen) {
        font-size: $fs-widescreen-p;
      }
    }
  }
}
