@import "../../styles/config/config.scss";
.logo {
  grid-row: 1/2;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-query($medium-down) {
    justify-content: start;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .switcher {
    margin: 0 37px;

    @include media-query($small) {
      margin: 0 10px;
    }
  }

  a {
    display: flex;
    font-size: 3.1em;
    color: white;
    transition: all 0.3s ease;

    &:hover {
      color: red;
    }
  }
  svg {
    vertical-align: middle;
  }

  img {
    height: auto;
    width: 7em;
    margin: 0 37px;
    padding: 20px 0;

    @include media-query($small) {
      margin: 0 10px;
    }

    @include media-query($medium-down) {
      margin-left: 7.5vw;
    }
  }
}
