.slide__title {
  position: absolute;
  top: 20%;
  left: 7.5vw;
  color: #fff;
  font-size: 4vw;
  z-index: 2;
  overflow: hidden;
  font-weight: 400;

  @media (max-width: 800px) {
    font-size: 6vw;
  }

  @media (max-height: 800px) {
    top: 30%;
  }
}
