.scroll-content {
  display: flex;
  white-space: nowrap;
  position: relative;
  height: 100vh;
  z-index: 5;
}

.slide {
  display: flex;
  width: 100vw;
  height: 100%;

  &--1 {
    align-items: flex-start;
  }

  &--2 {
    align-items: center;

    .slide__content {
      position: absolute;
      z-index: 1;
      max-width: 80%;
      margin: 0 auto;
      max-height: auto;
      top: 50%; /* Position Y halfway in */
      left: 50%; /* Position X halfway in */
      transform: translate(-50%, -50%);

      .slide__title {
        position: relative;
        transform: rotate(180deg) translate(-4px);
        writing-mode: vertical-lr;
        float: left;
        margin: 0 0 0 -5%;
        font-size: 6vw;
        padding: auto;
        padding-left: 0.2em;
        max-width: 80%;
        overflow: visible;
        margin-right: auto;
        left: 0;

        @media (min-width: 1200px) {
          font-size: 4vw;
        }

        @media (min-width: 1800px) {
          font-size: 3vw;
        }
      }

      .slide__text {
        position: relative;
        white-space: normal;
        font-size: 1.5vw;

        @media (min-width: 1200px) {
          font-size: 1.25vw;
        }

        @media (min-width: 1800px) {
          font-size: 1.1vw;
        }
      }
    }
  }

  .slide--3 {
    align-items: center;
    // height: 200vh !important;

    .slide__inner {
      height: 100%;
    }
  }

  &__inner {
    position: relative;
    // padding-left: 15vw;
    width: 85%;
    height: 100vh;
  }

  &__sub-title {
    position: absolute;
    top: 15%;
    left: 5vw;
    color: rgba(#fff, 0.5);
    font-size: 1vw;
  }

  &__title {
    position: absolute;
    top: 15%;
    left: 7.5vw;
    color: #fff;
    font-size: 4vw;
    z-index: 2;
    overflow: hidden;
    font-weight: 400;

    @media (max-width: 800px) {
      font-size: 6vw;
    }
  }

  &__project {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 7.5vw;
    font-size: 1.15vw;
    padding-top: 1.5vw;
  }

  &__img {
    position: absolute;
    height: 100vh;
    width: 100%;

    figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        background: #111;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 25px;

  .card--1 {
    grid-area: 1 / 1 / 3 / 3;
  }

  .card--2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .card--3 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .card--4 {
    grid-area: 2 / 2 / 3 / 3;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}
