@import "./styles/config/config.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: futura-pl, sans-serif;
  font-weight: 400;
  color: white;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== CANVAS ===== */
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: transparent;
  right: 0;
  z-index: 5;

  canvas {
    width: 15% !important;
    right: 0 !important;
  }
}

progress {
  position: fixed;
  bottom: 10%;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  border: none;
  background: grey;
  z-index: 2;
}
progress::-webkit-progress-bar {
  background: grey;
}
progress::-webkit-progress-value {
  background: #fff;
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: #fff;
  background-attachment: fixed;
}

h1 {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  top: 0;
  left: 0;

  @include media-query($small) {
    font-size: 4.5vw;
  }

  @include media-query($medium-up) {
    font-size: 4vw;
  }

  @include media-query($large-up) {
    align-self: center;
    font-size: 2.5vw;
  }

  @include media-query($widescreen) {
    font-size: 2vw;
    width: 100%;
  }
}

p {
  @include media-query($small) {
    font-size: 2.7vw;
  }

  @include media-query($medium-up) {
    font-size: 1.8vw;
  }

  @include media-query($large-up) {
    font-size: 1.25vw;
  }

  @include media-query($widescreen) {
    font-size: 1.1vw;
  }
}
