@import "../../../styles/config/config.scss";

.slide--4 {
  .slide__content {
    position: absolute;
    top: 0;
    height: 100%;
    // width: 85%;

    .slide__relative--container {
      justify-content: center;
      align-items: center;

      @include media-query($medium-up) {
        justify-content: center;
      }

      @include media-query($large-up) {
        justify-content: start;
      }
    }

    h1 {
      display: block;
      font-weight: 400;
      margin-bottom: 20px;
      position: relative;
      top: 0;
      left: 0;

      @include media-query($medium-up) {
        font-size: 4vw;
      }

      @include media-query($large-up) {
        align-self: center;
        font-size: 2.5vw;
        width: 100%;
      }

      @include media-query($widescreen) {
        font-size: 2vw;
      }
    }

    .slide__text {
      position: relative;
      white-space: normal;
      text-align: justify;

      @include media-query($small) {
        font-size: 2.7vw;
      }

      @include media-query($medium-up) {
        font-size: 1.8vw;
      }

      @include media-query($large-up) {
        font-size: 1.25vw;
      }

      @include media-query($widescreen) {
        font-size: 1.1vw;
      }
    }
  }
}
